/* Setup */
@import 'setup/vars.css';
@import 'setup/animations.css';
@import 'setup/typography.css';

/* Base */
@import 'base/base.css';
@import 'base/helpers.css';
@import 'base/layout.css';
@import 'base/forms.css';

/* Components */
@import 'cmps/ToyIndex.css';
@import 'cmps/AppHeader.css';
@import 'cmps/AppFooter.css';
@import 'cmps/ToggleBtn.css';
@import 'cmps/UserMsg.css';

@import 'cmps/ToyFilter.css';
@import 'cmps/ToyList.css';
@import 'cmps/ToyPreview.css';
@import 'cmps/ToyEdit.css';

@import 'cmps/Popup.css';
@import 'cmps/Chat.css';
@import 'cmps/Loader.css';

@import 'cmps/ShoppingCart.css';


.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app>* {
    width: 100%;
}

main {
    flex-grow: 1;
}