.main-header {
    position: sticky;
    top: 0;
    background-color: var(--clr2bg-light);
    /* height: min-content; */
    justify-content: space-between;
    margin-bottom: 20px;
}

.main-header>* {
    padding: 1em;
}

.main-header .main-nav {
    gap: 1em;
}