.popup.container {
    width: 400px;
    position: fixed;
    bottom: 0px;
    right: 20px;
    height: 300px;
    background-color: lightblue;
}

.popup .btn-close {
    position: absolute;
    bottom: 280px;
    right: 400px;
    z-index: 1;
}

.popup footer {
    transform: translateY(400%);
}