.add-btn {
    margin: 0.6em;

}

.btn-add {


    cursor: pointer;
    background-color: var(--clr2bg);
    margin: 0.5em;
    border: 0;
    padding: 0.5em 0.8em;
    border-radius: 4px;
    color: var(--gray1);


    &:hover {
        background-color: var(--clr2);
        color: white;
        transition: .3s;

    }
}