.toy-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    gap: 0.6em;
    margin-block: 0.6em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.toy-list li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--clr1bg);
    min-width: 160px;
    padding: 0.65em;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

}