.user-msg {
    background-color: rgb(64, 190, 112);
    padding: 1.5em 2.5em;
    position: fixed;
    bottom: 10px;
    right: 1em;
    color: white;
    border-radius: 2px;
    font-size: 1.1em;

}

.user-msg.success {
    background-color: var(--clr1);
}

.user-msg.error {
    background-color: var(--clr2);
}

.user-msg button {
    font-size: .8em;
    float: right;
    margin: .5em;
}