:root {
  --clr1: #457b9d;
  --clr2: #e63946;

  --clr1bg: #e9c46a;
  --clr1bg-light: #264653;
  --clr2bg: #2a9d8f;
  --clr2bg-light: #e76f51;
  --clr3: #f4a261;

  --gray1: rgb(240, 240, 240);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);

}