.main-layout {
  margin: 0 auto;
  /* padding-left: 1.6rem; */
  /* padding-right: 1.6rem; */
  display: grid;
  grid-template-columns: minmax(20px, 1fr) minmax(auto, 900px) minmax(20px, 1fr);
  grid-template-rows: 120px 500px auto;
}

.main-layout>*:not(.full) {
  grid-column: 2/-2;
}

.main-layout>*.full {
  grid-column: 1/-1;
}

.container {
  max-width: 800px;
  padding: 1em;
  /* margin: auto; */
}

footer {
  background-color: var(--clr1);
  color: var(--clr1bg);
  padding: 1em;
  text-align: center;
}